---
layout: default
title: Community
permalink: /community/
className: simple
---

<section class="hero">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <h1>Welcome to the Kaskada community!</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p>
          The Kaskada project was open-sourced in 2023. As a growing community, we're here to explore new ways to interact with event-based data at scale and have some fun along the way. We build in the open and use the channels below for communication.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="buttons">
          <a
            class="btn btn-icon--left btn-outline-primary"
            href="https://github.com/kaskada-ai/kaskada/discussions"
            target="_blank"
            rel="noopener noreferrer"
          >
            {%- include logos/github.html -%}
            <span>Github discussion</span>
          </a>
          <a
            class="btn btn-icon--left btn-outline-primary"
            href="https://join.slack.com/t/kaskada-hq/shared_invite/zt-1t1lms085-bqs2jtGO2TYr9kuuam~c9w"
            target="_blank"
            rel="noopener noreferrer"
          >
            {%- include logos/slack.html -%}
            <span>Join us on slack</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% assign featured = site.events | sort: "date" | find: 'featured', true %}
{% if featured %}
<section class="featured-event">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="event-card">
          <div class="event-card--image">
            <img class="img-fluid" src="{{ featured.image | relative_url }}" alt="{{ featured.title }}">
          </div>
          <div class="event-card--body">
            <div class="date">
              <span>{{ featured.date | date: "%b %-d, %Y" }}</span>
              {% if featured.location %}
                <span>{{ featured.location }}</span>
              {% endif %}
            </div>
            <h3>{{ featured.title }}</h3>
            <a href="{{ featured.url | relative_url }}">Register Now</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <a class="btn btn-outline-primary" href="{{ "/events" | relative_path }}">
          View All Events
        </a>
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2>Contributing</h2>
        <p>Nothing makes us happier than community contributions. See the README in the main Kaskada repository to get a grasp of the project layout and reference the <a href="https://github.com/kaskada-ai/kaskada/blob/main/CONTRIBUTING.md" target="_blank" rel="noopener noreferrer">CONTRIBUTING</a> file for detailed steps.</p>
        <p>Use the <a href="https://github.com/kaskada-ai/kaskada/issues" target="_blank" rel="noopener noreferrer">GitHub issue tracker</a> to file bugs and feature requests.</p>
        <p>Acceptance of the DataStax <a href="https://cla.datastax.com/" target="_blank" rel="noopener noreferrer">contributor license agreement (CLA)</a> is required in order for us to be able to accept your code contribution. You will see this on the standard pull request checklist for the Kaskada repositories.</p>
        <p>If you're interested in contributing but don't know where to start, we also recommend looking for a good first issue in the main repository.</p>

        <br />
        <br />

        <h2>Code of Conduct</h2>
        <p>
          To make Kaskada a welcoming and harassment-free experience for everyone, we adopt and follow the <a href="https://www.contributor-covenant.org/" target="_blank" rel="noopener noreferrer">Contributor Covenant</a>. Please read our <a href="https://github.com/kaskada-ai/kaskada/blob/main/CODE_OF_CONDUCT.md" target="_blank" rel="noopener noreferrer">Code of Conduct</a> before engaging with the community.
        </p>
      </div>
    </div>
  </div>
</section>
