<footer id="site-footer">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col col-md-4">
        <p>© 2023 Kaskada Project Authors</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-md-8">
        <p>Kaskada is an open source project and all source code is distributed under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html"> Apache v2.0 license</a></p>
      </div>
    </div>
  </div>
</footer>
