<footer class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9">
        <p>
          © 2023 Kaskada Project Authors | Kaskada is an open source project and
          all source code is distributed under the Apache v2.0 license
        </p>
      </div>
      <div class="col-lg-3">
        <ul>
          <li>
            <a
              href="https://github.com/kaskada-ai/kaskada"
              target="_blank"
              rel="noopener noreferrer"
              title="Github"
            >
              {%- include logos/footer-github.html -%}
            </a>
          </li>
          <li>
            <a
              href="https://twitter.com/kaskadainc"
              target="_blank"
              rel="noopener noreferrer"
              title="twitter"
            >
              {%- include logos/footer-twitter.html -%}
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/kaskadainc"
              target="_blank"
              rel="noopener noreferrer"
              title="Linkedin"
            >
              {%- include logos/footer-linkedin.html -%}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
