<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="{{ "/" | relative_url }}"> {%- include logos/kaskada.html -%} </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-md-0">
        <li class="nav-item nav-item--button">
          <a
            class="btn btn-outline-primary nav-link"
            href="https://github.com/kaskada-ai/kaskada"
          >
            Get Started
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ "/docs-site" | relative_url }}">Docs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/blog" | relative_url }}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/community" | relative_url }}">Community</a>
        </li>

        <li class="nav-item nav-item--social">
          <ul class="nav social--nav">
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://github.com/kaskada-ai/kaskada"
                target="_blank"
                rel="noopener noreferrer"
                title="Github"
              >
                {%- include logos/header-github.html -%}
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://twitter.com/kaskadainc"
                target="_blank"
                rel="noopener noreferrer"
                title="twitter"
              >
                {%- include logos/header-twitter.html -%}
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www.linkedin.com/company/kaskadainc"
                target="_blank"
                rel="noopener noreferrer"
                title="Linkedin"
              >
                {%- include logos/header-linkedin.html -%}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
