body {
  padding-top: $navbar-height;
}

h1, .h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.25rem;
  
  @include media-breakpoint-up(lg) {
    font-size: 1.5rem;
  }
}

h3, .h3 {
  font-size: 1rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.125rem;
  }
}

h4, .h4 {
  font-size: 1rem;
}