// Colors
$primary: #f14c4c;

// Fonts
$font-family-sans-serif: "Noto Sans", sans-serif;
$headings-font-family: "Sora", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;
$headings-font-weight: 600;

// Inputs
$input-padding-y: 0.5rem;
$input-padding-x: 0.75rem;
$input-font-family: $font-family-sans-serif;
$input-font-size: 1rem;
$input-font-weight: 400;
$input-color: #000000;
$input-border-color: #778393;
$input-border-width: 1px;
$input-border-radius: 6px;

// Buttons
$btn-border-radius: 10px;
$btn-padding-y: 10px;
$btn-padding-x: 20px;
$btn-font-family: "Sora", sans-serif;
$btn-font-size: 1rem;
$btn-line-height: 1em;
$btn-border-width: 2px;
$btn-font-weight: 600;

// Navbar
$navbar-padding-y: 21px;
$navbar-nav-link-padding-x: 0;
$navbar-height: 122px;
