.single-hero {
  margin: 0 0 1.5rem;

  .back {
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #26364a;
    display: inline-flex;
    align-items: center;
    margin-bottom: 2rem;

    svg {
      margin-right: 0.5rem;
    }
  }

  .img-fluid {
    border-radius: 10px;
  }

  @include media-breakpoint-up(lg) {
    margin: 0 0 2rem;
    padding: 3.5rem 0 0;
  }
}

.post {
  margin-bottom: 6rem;

  &-title {
    font-size: 1.5rem;
    line-height: 1.5em;
    color: #26364a;
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
      line-height: 1.31em;
    }
  }

  &-meta {
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.33em;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #778393;
    margin-bottom: 3rem;
  }

  &-content {
    margin-bottom: 3rem;

    h1,
    h2,
    h3,
    h4 {
      margin: 1.5em 0 1em;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.single-event {
  .single-hero {
    .back {
      @include media-breakpoint-up(lg) {
        margin-bottom: 5rem;
      }
    }

    .post-meta {
      margin-bottom: 0;

      .separator {
        margin: 0 1em;
      }

      @include media-breakpoint-up(lg) {
        margin-bottom: 3rem;
      }
    }
  }
}

.note {
  background-color: lightblue;
  border-radius: 3px;
  padding: 2px;
  font-style: italic;
}
