.single-hero {
  margin: 0 0 1.5rem;

  .back {
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #26364a;
    display: inline-flex;
    align-items: center;
    margin-bottom: 2rem;

    svg {
      margin-right: 0.5rem;
    }
  }

  .img-fluid {
    border-radius: 10px;
  }

  @include media-breakpoint-up(lg) {
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='165' viewBox='0 0 1440 165' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 121V122.106C466 181.679 1096 171.566 1440 137.901V121H0Z' fill='%23F7F8FA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1440 81.0216H0V77.7973C390.176 -28.8223 614.554 -4.41024 895.01 26.1032C1047.99 42.7468 1217.65 61.2058 1440 61.2058V81.0216Z' fill='%23F7F8FA'/%3E%3Crect y='79' width='1440' height='42' fill='%23F7F8FA'/%3E%3C/svg%3E%0A");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0 0 2rem;
    padding: 3.5rem 0 0;
  }
}

.post {
  margin-bottom: 6rem;

  &-title {
    font-size: 1.5rem;
    line-height: 1.5em;
    color: #26364a;
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
      line-height: 1.31em;
    }
  }

  &-meta {
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.33em;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #778393;
    margin-bottom: 3rem;
  }

  &-content {
    margin-bottom: 3rem;

    h1,
    h2,
    h3,
    h4 {
      margin: 1.5em 0 1em;
    }
  }
}

.single-event {
  .single-hero {
    .back {
      @include media-breakpoint-up(lg) {
        margin-bottom: 5rem;
      }
    }

    .post-meta {
      margin-bottom: 0;

      .separator {
        margin: 0 1em;
      }

      @include media-breakpoint-up(lg) {
        margin-bottom: 3rem;
      }
    }
  }
}
