.card {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;

  &-body {
    padding: 1.5rem;

    @include media-breakpoint-up(lg) {
      padding: 2rem;
    }
  }

  &-link {
    text-decoration: none;
    transition: box-shadow 0.2s ease;

    .btn-link {
      font-family: "Sora";
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.2em;
      letter-spacing: 0.05em;
      color: #26364a;
      margin-top: auto;
    }

    &:hover {
      box-shadow: 0px 8px 24px rgba(26, 26, 48, 0.1);

      .btn-link {
        &::after {
          margin-left: 0.5em;
          opacity: 1;
        }
      }
    }
  }

  &-simple {
    box-shadow: none;

    .card-body {
      padding: 1.5rem;

      @include media-breakpoint-up(lg) {
        padding: 1.5rem;
      }
    }
  }
}
