.video-cover {
  position: relative;

  &::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 80C62.0914 80 80 62.0914 80 40C80 17.9086 62.0914 0 40 0C17.9086 0 0 17.9086 0 40C0 62.0914 17.9086 80 40 80Z' fill='%23F14C4C'/%3E%3Cpath d='M62.7816 40L28.6094 59.7351V20.3091L62.7816 40Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-image 0.4s ease;
  }

  &:hover {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 80C62.0914 80 80 62.0914 80 40C80 17.9086 62.0914 0 40 0C17.9086 0 0 17.9086 0 40C0 62.0914 17.9086 80 40 80Z' fill='%23F14C4C'/%3E%3Cpath d='M62.7816 40L28.6094 59.7351V20.3091L62.7816 40Z' fill='%2326364A'/%3E%3C/svg%3E%0A");
      transition: background-image 0.4s ease;
    }
  }
}

.video-modal {
  video {
    width: 100% !important;
    height: auto !important;
  }
}
